@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 300;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

nav {
  z-index: 50;
}

body {
  font-weight: 300;
}

.first img,
video {
  border-radius: 10px;
  border: 1px solid #fff;
}

.custom-btn {
  box-shadow: 0px 0px 48px 1px rgba(255, 255, 255, 0.15) inset;
  font-size: 20px;
  padding: 10px 40px;
  border-radius: 50px;
  box-sizing: border-box;
  border: 1px solid #ffffff99;
}
.custom-btn-unshadow {
  font-size: 20px;
  padding: 10px 40px;
  border-radius: 50px;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
}

.class-span {
  color: #f5a622;
  border-radius: 50px;
  border: 1px solid #f5a622;
  background-color: rgba(245, 166, 34, 0.1);
  padding: 8px 20px;
  font-size: 16px;
}

.swiper-item-custom {
  box-shadow: 0px 0px 48px 1px rgba(255, 255, 255, 0.15) inset;
  border-radius: 20px;
  border: 1px solid #fff;
  padding: 40px 20px;
}

.pricing-card {
  box-shadow: 0px 0px 48px 1px rgba(255, 255, 255, 0.15) inset;
  border-radius: 20px;
  border: 1px solid #fff;
}

.pricing-places {
  box-shadow: 0px 0px 48px 1px rgba(255, 255, 255, 0.15) inset;
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 50px;
  border: 1px solid #ffffff99;
}

.pricing-separator {
  margin: 24px 0;
  width: 70%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.16);
}

.pricing-button {
  font-size: 16px;
  padding: 10px 40px;
  border-radius: 50px;
  color: #000;
  background: linear-gradient(180deg, #ffffff 0%, #b1b1b1 100%);
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 14px;
}

.verticalSwiper {
  max-height: 700px;
}

.swiper-review-card {
  box-shadow: 0px 0px 48px 1px rgba(255, 255, 255, 0.15) inset;
  border: 1px solid #ffffff99;
}

.accordion {
  box-shadow: 0px 0px 48px 1px rgba(255, 255, 255, 0.15) inset;
  border: 1px solid #ffffff99;
}

.linkedin {
  box-shadow: 0px 0px 48px 1px rgba(255, 255, 255, 0.15) inset;
  border: 1px solid #ffffff99;
}

.accordion-border:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.swiperC {
  width: 90%;
  margin: 0 auto;
}

.swiper-button-prev {
  background-image: url("../../public/icons/left.png");
  width: 45px !important;
  left: -1px !important;
}

.swiper-button-prev::after {
  content: "" !important;
}
.swiper-button-next::after {
  content: "" !important;
}

.swiper-button-next {
  background-image: url("../../public/icons/right.png");
  width: 45px !important;
  right: 0 !important;
}

.number {
  cursor: pointer;
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
}

.number span {
  width: 45%;
  height: 2px;
  background-color: rgba(255, 185, 81, 1);
}

.number div {
  border-radius: 50px;
  box-shadow: 0px 0px 48px 1px rgba(255, 255, 255, 0.15) inset;
  width: 50px;
  height: 50px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff99;
  margin: 0 15px;
}

@layer base {
  :root {
    --background: 240, 81%, 5%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media screen and (max-width: 1280px) {
  .class-span {
    color: #f5a622;
    padding: 4px 11px;
    font-size: 13px;
    margin: auto;
  }

  .custom-btn-unshadow {
    font-size: 13px;
    padding: 8px 13px;
  }

  .custom-btn {
    font-size: 13px;
    padding: 8px 13px;
  }

  .linkedin {
    padding-top: 22px;
    padding-bottom: 50px;
  }

  .number {
    position: relative;
  }

  .numberParent:first-child span:first-child {
    display: none;
  }
  .numberParent:last-child span:last-child {
    display: none;
  }

  .number span {
    position: absolute;
    width: 2px;
    height: 35%;
    background-color: rgba(255, 185, 81, 1);
  }

  .number span:first-child {
    top: 0;
  }
  .number span:last-child {
    bottom: 0;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    text-align: center;
  }

  .custom-btn-unshadow {
    width: 100%;
  }
}
